.env
.env-development
.env-production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Editor
.vscode

#modules
modules/
# Build output
dist/
build/
# Coverage directory used by tools like istanbul
coverage/
# dotenv environment variables file
.env
# dotenv environment variables file for development
.env.development
# dotenv environment variables file for production
.env.production
# Miscellaneous